body{
    margin:0;
    padding:0;
}
.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}
.container-main, .container-main-form{
    flex-grow: 1;
}


/* hanburger menu */
#menu_toggle {
    opacity: 0;
    }
    #menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
    }
    #menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
    }
    #menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    #menu_toggle:checked ~ .menu_box {
    left: 0 !important;
}
.menu_btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu_btn > span::before {
    content: '';
    top: -8px;
}
.menu_btn > span::after {
    content: '';
    top: 8px;
}
.menu_box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-image: url(../img/back-1.jpg);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu_item {
    display: block;
    padding: 12px 24px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
    font-family: "Roboto-Medium";
}
.menu_item:hover {
    background-color: #f9ffa2;
}
.hamburger-menu{
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 30px;
    background-image: url(../img/back-1.jpg);
    border-radius: 0px 0px 50px 50px;
}




.container-head, .container-main, .container-foot, .container-main-form{
    max-width: 800px;
    margin-right: auto;
    margin-left:  auto; 
}




/* nav menu */
ul#navbar-nav li{
    display: inline-block;
    font-family: "Roboto-Medium";
    font-size: 20px;
    margin-top: 8px
}
.nav-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 25px;
}
.nav-link:hover{
    color: rgb(19, 50, 187);
    transition: 0.3s;
}
.navbar{
    display: flex;
    justify-content: space-between
}
/* .navbar-nav{
    position: absolute;
    right: 0;
    margin-right: 40px;
} */
#logo{
    max-width: 50px;
}
.navbar-brand{
    margin: 15px;
}

header{
    background-image: url(../img/back-1.jpg);
    border-radius: 0px 0px 50px 50px;
}

/* main home */
.paragraph-1, .page-header{
    font-family: "Roboto-Medium";
    font-size: 45px;
    margin: 15px;
}
.cont-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 95px;
    margin-left: 50px; */
    padding-top: 50px;
}


/* contacts */
#submit{
    background-color: #F26430;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto-Medium";
}
input[type=text] {
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin: 8px 0;
    font-family: "Roboto-Medium";
    font-size: 15px;
    width: 190px;
}
input[type=text]:focus{
    border: 3px solid rgb(41, 117, 216);
}


footer{
    background-image: url(../img/back-2.jpg);
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
}
.foot-text{
    font-family: "Roboto-Medium";
    text-align: center
}

.container-main-form{
    display: flex;
    align-items: center;
}


@font-face {
    font-family: "Roboto-Light"; 
    src: url("../fonts/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Roboto-Medium"; 
    src: url("../fonts/Roboto-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}


@media screen and (min-width: 767px) {
    .hamburger-menu{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .menu-nav{
        display: none;
    }
    header{
        background-image: none;
    }
    .navbar-brand{
        padding: 12px 4px;
    }
    .page-header{
        font-size: 25px;
    }
    .paragraph-1{
        font-size: 25px;
    }
    .container-main, .container-foot, .container-main-form{
        padding: 0px 20px;
    }
}